/* Container styling */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    
  }
  
  /* Share section styling */
  .share-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#001f82;
    color: #fff;
    padding: 10px;
    width: 100%;
  }
  
  .share-section .social-icons {
    display: flex;
    gap: 15px;
    margin-left: 10px;
  }
  
  .share-section .social-icons svg {
    font-size: 18px;
  }
  .share-icon{
    padding-right: 10px;
    display: flex;
    align-items: center;
  }
  

  
  /* Contact content styling */
  .contact-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
  }
  
  .connect-section,
  .contact-section {
    background-color: #f4f5f7;
    padding: 20px 20px 0 20px;
    width: 45%;
  }
  
  .connect-section h2,
  .contact-section h2 {
    color:#001ec9;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bolder;
  }
  
  .connect-section p,
  .contact-section p {

    font-size: 16px;
    color: #696767;
    margin-bottom: 20px;
  }
  
  .social-Icons {
    display: flex;
    gap: 15px;
    color: rgb(109, 14, 109);
    
  }

  .social-icons {
    display: flex;
    gap: 15px;

  }
  
  .contact-button {
    background-color: #87f1e9;
    color: rgb(109, 14, 109);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
  }
  
  .contact-button span {
    font-weight: bold;
  }
  
  .contact-button:hover{
    background-color: rgb(109, 14, 109);
    color: #87f1e9;
    
  }
  /* Responsive styling */
  @media (max-width: 768px) {
    .contact-content {
      flex-direction: column;
      align-items: center;
    }
  
    .connect-section,
    .contact-section {
      width: 100%;
      text-align:justify;
      margin-bottom: 10px;
    }
  
    .social-icons {
      justify-content: center;
    }
  }
  